// RESPONSIVE 
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// COLORS
$grey-violet: #666CA3;
$dark-blue: #13183F;
$grey: #83869A;
$dark-pink: #F74780;
$pink: #FFA7C3;
$gradient-orange-pink: linear-gradient(#FF6F48, #F02AA6);
$gradient-blue-pink: linear-gradient(#4851FF, #F02AA6);
$shadow: rgb(178,178,178);
// TYPOGRAPHY
$PlusJakartaSans: 'Plus Jakarta Sans';

$heading-xl: 56px;
$heading-l: 40px;
$heading-m: 32px;
$heading-s: 24px;
$body-m: 18px;
$body-s: 16px;
