body {
    @include breakpoint(tablet){
        background-image: url(../../img/hero-img.png);
        background-repeat: no-repeat;
        background-position: 110% 5%;
        background-size: 400px;
    }
    @include breakpoint(desktop){
        background-position: 100% -4%;
        background-size: 580px;
    }
}

main {
    display: relative;
    padding: 16px;
    .presentation {
        display: flex;
        flex-direction: column;
        grid-area: text;
        h1 {
            margin-bottom: 26px;
            font-size: $heading-l;
            @include breakpoint(desktop){
                font-size: $heading-xl;
            }
        }
        p {
            margin-bottom: 24px;
        }
        a {
            margin-bottom: 46px;
        }
        @include breakpoint(tablet){
            width: 50%;
            position: relative;
            top: 60px;
            left: 20px;
        }
        @include breakpoint(desktop){
            padding: 0px 150px;
        }
        @include breakpoint(desktopxl){
            h1{
                font-size: $heading-xl;
            }
            position: relative;
            top: 60px;
            left: 50px;
        }
        
    }
    .statistics {
        display: flex;
        position: relative;
        justify-content: center;
        display:flex;
        justify-content: center;
        @include breakpoint(tablet){
            .img-woman-cafe-mobile {
                display: none;
            }
            margin-top: 50px;
        }
        @include breakpoint(desktop){
            margin-top: 230px;
        }
        
        // Responsive properties for img mobile
        .img-woman-cafe-mobile {
            max-width: 100%;
            height: auto;
        }

        .members, .course-hours {
            border-radius: 10px;
            box-shadow: 3px 3px 15px rgb(158, 158, 158);
            display: inline-flex;
            flex-direction: column;
            padding: 20px;
            position: absolute;
            background-color: white;
            p.titles{
                color: $grey;
                font-size: $body-s;
            }
            p.numbers{
                color: $dark-blue;
                font-size: $heading-m;
            }
        }

        .members{
            top: 0px;
            right: 0px;
            @include breakpoint(tablet){
                top: -400px;
                right: 30px;
            }
            @include breakpoint(desktop){
                top: -600px;
                right: 130px;
            }
            @include breakpoint(desktopxl){
                top: -620px;
                right: 130px;
            }
            @include breakpoint(desktopxxl){
                top: -550px;
                right: 130px;
            }
        }

        .course-hours{
            bottom: 0px;
            left: 0px;
            @include breakpoint(tablet){
                bottom: -25px;
                right: 200px;
                left: auto; // Null left value
            }
            @include breakpoint(desktop){
                bottom: 120px;
                right: 380px;
            }
            @include breakpoint(desktopxl){
                bottom: 160px;
                right: 380px;
            }
            @include breakpoint(desktopxxl){
                bottom: 80px;
                right: 380px;
            }
        }

    }

    .services {
        margin-top: 66px;
        display: grid;
        gap: 50px;
        margin-bottom: 10%;
        position: relative;
        h2 {
            background-image: $gradient-orange-pink;
            border-radius: 10px;
            color: white;
            padding: 24px 30px;
        }
            
        img {
            position: absolute;
            top: -30px;
            padding-left: 0px;
        }
        .article-content {
            padding: 30px;
            border-radius: 10px;
            background-color: white;
            position: relative;
            h3 {
                margin-top: 20px;
                font-size: $heading-s;
            }
            p {
                margin-top: 16px;
                font-size: $body-s;
                color: $grey;
                text-align: justify;
                margin-bottom: 30px;
            }
            a {
                margin-top: 24px;
                color: $dark-pink;
                position: absolute;
                bottom: 20px;
                left: 30px;
                &:hover{
                    color: $pink;
                }
            }
        }
            
        @include breakpoint(tablet){
            margin-top: 100px;
            grid-template-columns: repeat(2, 1fr);
        }
        @include breakpoint(desktop){
            margin-top: 0px;
            padding: 0px 150px;
            grid-template-columns: repeat(3, 1fr);
            gap: 40px;
        }
        @include breakpoint(desktopxl){
            margin-top: 0px;
        }
        
    }
}
