footer {
    background-color: #13183F;
    padding: 16px;
    nav {
        display: flex;
        justify-content: space-between;
    }
    @include breakpoint(desktop){
        padding: 20px 150px;
    }
}