header {
    padding: 24px;
    nav {
        display: flex;
        justify-content: space-between;
        margin-bottom: 38px;
    }
    @include breakpoint(desktop){
        padding: 24px 150px;
    }
}