header {
    padding: 24px;
    h1 {
        font-size: $heading-l;
    }
    nav {
        display: flex;
        justify-content: space-between;
        margin-bottom: 38px;
    }
    .presentation {
        display: flex;
        flex-direction: column;
        grid-area: text;
        h1 {
            margin-bottom: 26px;
        }
        p {
            margin-bottom: 24px;
        }
        a {
            margin-bottom: 46px;
        }
    }
    div {
        border-radius: 10px;
        box-shadow: 3px 3px 15px rgb(158, 158, 158);
        display: inline-flex;
        position: relative;
        flex-direction: column;
        padding: 20px;
        position: absolute;
        
        background-color: white;
        p.titles{
            color: $grey;
            font-size: $body-s;
        }
        p.numbers{
            color: $dark-blue;
            font-size: $heading-m;
        }
    }
    div:nth-of-type(1){
        top: 20%;
        right:8%;
    }
    div:nth-of-type(2){
        bottom: 45%;
        right: 25%;
    }

}

@media (max-width: 768px){
    .statistics-desktop {
        display: none;
    }
}

@media (min-width: 768px){
    header {
        background-image: url(../../img/hero-img.png);
        background-repeat: no-repeat;
        background-position: 170% 40%;
        height: 65vh;
        .presentation {
            width: 50%;
            position: relative;
            top: 22%;
        }
        .statistics-desktop {
            div:nth-of-type(1){
                top: 15%;
                right: 5%;
            }
            div:nth-of-type(2){
                bottom: 35%;
                right: 25%;
            }
        }
    }
}

@media (min-width: 900px){
    header {
        background-image: url(../../img/hero-img.png);
        background-repeat: no-repeat;
        background-position: 110% 40%;
        height: 85vh;
        .presentation {
            width: 40%;
            position: relative;
            top: 22%;
        }
    }
}

@media (min-width: 1000px){
    header {
        background-image: url(../../img/hero-img.png);
        background-repeat: no-repeat;
        background-position: 110% 10%;
        height: 60vh;
        .presentation {
            width: 40%;
            position: relative;
            top: 22%;
        }
        .statistics-desktop {
            div:nth-of-type(1){
                top: 15%;
                right: 15%;
            }
            div:nth-of-type(2){
                bottom: 45%;
                right: 35%;
            }
        }
    }
}

@media (min-width: 1100px){
    header {
        background-image: url(../../img/hero-img.png);
        background-repeat: no-repeat;
        background-position: 110% 40%;
        height: 85vh;
        .presentation {
            width: 40%;
            position: relative;
            top: 22%;
        }
        .statistics-desktop {
            div:nth-of-type(1){
                top: 20%;
                right: 10%;
            }
            div:nth-of-type(2){
                bottom: 10%;
                right: 25%;
            }
        }
    }
}

@media (min-width: 1200px){
    header {
        background-image: url(../../img/hero-img.png);
        background-repeat: no-repeat;
        background-position: top right;
        height: 105vh;
        .presentation {
            width: 60%;
            position: relative;
            top: 12%;
        }
        h1 {
            font-size: $heading-xl;
        }
        nav, .presentation {
            padding: 24px 165px;
        }
        .statistics-desktop {
            div:nth-of-type(1){
                top: 20%;
                right: 15%;
            }
            div:nth-of-type(2){
                bottom: 25%;
                right: 25%;
            }
        }
    }
}

@media (min-width: 1500px){
    header {
        background-image: url(../../img/hero-img.png);
        background-repeat: no-repeat;
        background-position: top right;
        height: 80vh;
        .presentation {
            width: 50%;
            position: relative;
            top: 12%;
        }
        h1 {
            font-size: $heading-xl;
        }
        nav, .presentation {
            padding: 24px 165px;
        }
    }
}