html * {
    font-family: $PlusJakartaSans;
}

body {
    overflow-x: hidden;
    background-color: #F0F1FF;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
}

p {
    display: inline-block;
}